*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(150deg, #92d4a8, #dbd9e9);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    background: #087095;
    padding: 5%;
    border: 2px solid #000000;
    border-radius: 3%;
}
h1{
    color: #ffffff;
}
p{
    color: #ffffff;
}
label{
    color: #cccccc;
}
input{
    padding: 2%;
    border: 1px solid #544c4c;
    border-radius: 5%;
    width: 80%;
}
button{
    padding: 2%;
    border: 1px solid #544c4c;
    border-radius: 5%;
}
#error{
    color: #f71111; 
    display: none;
    font-size: large;
}